.App {
  text-align: center;
}

span {
  width: 90%;
  display: inline-block;
}

span.align-center {
  text-align: center;
}

.container{
  margin: 0;
}

.fColumn{
  width: 200px;
}

.textArea{
  height: 30px;
  float: right;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
